* {
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body {
    background-color: #f2f2f2;
}

main {
    width: 100vw;
    height: 130vh;
}

.banner {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #022859;
    position: relative;
}

.banner h1 {
    font-size: 45px;
    color: #f2f2f2;
}

.informacion {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 3rem;
}

.informacion section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60vw;
    height: 120vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white; 
    padding: 2rem 7rem;
}

h2 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
    color: #022859;
}

h3 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
    color: #022859;
}

.informacionvacante {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3rem 0rem;
}

.informacionvacante div {
    padding: 1rem 1rem;
}

.izquierda , .derecha {
    display: flex;
    flex-direction: column;
}

.titulo {
    color: #d92579;
    font-weight: bold;
}
.ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.derecha-ubi , .izquierda-ubi {
    margin: 2rem 4rem;
}

.ubicacion div {
    padding: 1rem 1rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B27;
    height: 20vh;
    color: #f2f2f2;
}

.githb , .web {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
}