* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #f2f2f2;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.sub-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 93vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white; 
}

.btn-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-social button {
    margin: 0 3rem 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 38px;
    border-radius: 10px !important;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #EAEEED;
    font-weight: 600;
    width: 4% !important;
}

.separador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador hr {
    background-color: #0487D9;
    width: 100%;
    margin: 1rem 0;
}

.separador .derecha {
    margin-left: 1rem;
}

.separador .izquierda {
    margin-right: 1rem;
}

h2 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}

label {
    padding-left: 16px;
    opacity: 0.75;
}

input {
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 15px;
    padding: 12px 24px;
    width: 99%;
    background-color: #EAEEED;
    font-size: 12pt;
}

input:focus {
    opacity: 0.7;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera .atras{
    position: absolute;
    margin-right: 25%;
    margin-bottom: 1%;
}

.cabecera img {
    width: 35px;
    height: 35px;
}

.cabecera .atras:hover {
    opacity: 0.8;
}

button {
    padding: 12px 48px;
    border-radius: 50px;
    color: #f2f2f2;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.bottom-form {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.login {
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #0487D9;
}

.login:hover {
    opacity: 0.8;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subname {
    margin: 0 1rem 1rem 0;
}

.subname input {
    width: 200px;
}