* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #f2f2f2;
}

.banner {
    display: flex;
    height: 100px;
    justify-content: start;
    align-items: center;
    background-color: #022859;
}

.links {
    display: flex;
    width: 85vw;
    justify-content: end;
}

.links a {
    text-decoration: none;
    padding: 0 60px;
    font-size: 14pt;
    color: #f2f2f2;
}

.links a:hover {
    transition: 0.3s;
    color: #d92579;
}

.user {
    cursor: pointer;
    display: flex;
    font-size: 14pt;
    background-color: #022859;
    border: none;
    padding: 0 10px 0 20px;
}

.user p{
    padding: 0 0 0 15px;
    color: #f2f2f2;
}

#mostrarLista:hover {
    opacity: 0.8;
}

#miLista {
    width: 100vw;
    display: flex;
}

#miLista li {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13pt;
    margin-left: 86%;
    background-color: white;
    padding: 20px;
}

#miLista a {
    text-decoration: none;
    padding: 3px 0;
    color: #1A1B27;
}

#miLista a:hover {
    color: #d92579;
}



.busqueda {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-search {
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d92579;
    padding: 5px 6px;
    border: none;
    cursor: pointer;
    margin-left: 48rem;
}

.search input {
    height: 3rem;
    width: 45rem;
    border: none;
    padding: 18px;
    border: 2px solid #f2f2f2;
    overflow: hidden;
    background-color: #f2f2f2;
}

.search input:focus {
    outline: 2px solid #d92579; 
}


.informacion {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 75vw;
    height: 45vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white; 
}

h2 {
    margin: 2rem 0 0 4rem;
    text-align: center;
}

.btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 0 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    border-radius: 50px;
    color: #f2f2f2;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 50%;
    font-size: 12pt;
}

.btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B27;
    height: 20vh;
    color: #f2f2f2;
}

.githb , .web {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
}