* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.banner {
    display: flex;
    background-color: #022859;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
    height: 160px;
    padding: 0px 40px;
}

.banner h1 {
    font-size: 30pt;
    position: absolute;
    margin-left: 35%;
}

.btns-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    border: none;
    width: 110px;
    height: 35px;
    font-size: 11pt;
    padding: 10px;  
    background-color: white;
    cursor: pointer;
    color: #022859;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
}

.informacion {
    height: 83.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt {
    margin: 50px 10%;
    border: none;
    width: 400px;
    height: 200px;
    font-size: 25pt;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    color: #d92579;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.btn-oferta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    background-color: #022859;
    transition: .5s;;
    border-radius: 10px;
    z-index: -1;
}

.btn-oferta:hover{
    transition: 0.2s;
    color: #f2f2f2;
}

.btn-oferta:hover::before{
    width: 100%;
}

.btn-empresa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    background-color: #022859;
    transition: .5s;;
    border-radius: 10px;
    z-index: -1;
}

.btn-empresa:hover::before{
    width: 100%;
}

.btn-empresa:hover{
    transition: 0.2s;
    color: #f2f2f2  ;
}

.btn:hover {
    opacity: 0.9;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B27;
    height: 20vh;
    color: #f2f2f2;
}

.githb , .web {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
}