* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #f2f2f2;
}

.banner {
    display: flex;
    height: 100px;
    justify-content: start;
    align-items: center;
    background-color: #022859;
}

.links {
    display: flex;
    width: 85vw;
    justify-content: end;
}

.links a {
    text-decoration: none;
    padding: 0 60px;
    font-size: 14pt;
    color: #f2f2f2;
}

.links a:hover {
    transition: 0.3s;
    color: #d92579;
}

.user {
    cursor: pointer;
    display: flex;
    font-size: 14pt;
    background-color: #022859;
    border: none;
    padding: 0 10px 0 20px;
}

.user p{
    padding: 0 0 0 15px;
    color: #f2f2f2;
}

#mostrarLista:hover {
    opacity: 0.8;
}

#miLista {
    width: 100vw;
    display: flex;
}

#miLista li {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13pt;
    margin-left: 86%;
    background-color: white;
    padding: 20px;
}

#miLista a {
    text-decoration: none;
    padding: 3px 0;
    color: #1A1B27;
}

#miLista a:hover {
    color: #d92579;
}


.busqueda {
    margin: 5rem 0;
    display: flex;
    position: relative;
    justify-content: end;
    align-items: end;
    width: 100vw;
}

.search {
    display: flex;
    position: relative;
    justify-content: end;
    align-self: center;
    width: 65%;
    margin: 0 10px;
}

.btn-search {
    position: relative;
    display: flex;
    align-self: center;
    background-color: #d92579;
    padding: 3px 3px;
    border: none;
    cursor: pointer;
    margin-right: 5rem;
}

.search input {
    height: 10px;
    width: 50%;
    border: none;
    padding: 18px;
    border: 2px solid #f2f2f2;
    overflow: hidden;
}

.search input:focus {
    outline: 2px solid #d92579; 
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.postulacion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60vw;
    height: 35vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white; 
}

.titulo {
    margin: 2rem 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.postular,.codigo,.cargo,.empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.postulacion h2 {
    margin: 1.5rem 0 0 2rem;
    text-align: center;
}

table {
    width: 60vw;
    text-align: left;
    padding: 20px;
    font-size: 10pt;
}

th {
    padding: 0 2rem;
    color: #d92579;
}

td {
    padding: .5rem 2rem;
}

.body{
    background-color: #f2f2f2;
}

.body1 {
    background-color: white;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoja-vida {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    border-radius: 50px;
    color: #f2f2f2;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 20%;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.hoja-vida:hover {
    opacity: 0.8;
}