* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #f2f2f2;
}

.banner {
    display: flex;
    height: 100px;
    justify-content: start;
    align-items: center;
    background-color: #022859;
}

.links {
    display: flex;
    width: 85vw;
    justify-content: end;
}

.links a {
    text-decoration: none;
    padding: 0 60px;
    font-size: 14pt;
    color: #f2f2f2;
}

.links a:hover {
    transition: 0.3s;
    color: #d92579;
}

.user {
    cursor: pointer;
    display: flex;
    font-size: 14pt;
    background-color: #022859;
    border: none;
    padding: 0 10px 0 20px;
}

.user p{
    padding: 0 0 0 15px;
    color: #f2f2f2;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
    height: 85vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white; 
}

h2 {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

label {
    padding-left: 16px;
    opacity: 0.75;
}

input {
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 2px;
    padding: 12px 24px;
    width: 300px;
    background-color: #EAEEED;
}

input:focus {
    opacity: 0.7;
}

.information button {
    padding: 12px 48px;
    border-radius: 50px;
    color: #f2f2f2;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 100%;
}

.information button:hover {
    opacity: 0.8;
}

.foto {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form img {
    background-color: #d92579;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.informacion-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cambio-passwd {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subinformation {
    margin: 0 3rem 2rem 3rem;
}

.separador {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.separador hr {
    background-color: #0487D9;
    width: 100%;
}

.separador .derecha {
    margin-left: 1rem;
}

.separador .izquierda {
    margin-right: 1rem;
}

#miLista {
    width: 100vw;
    display: flex;
}

#miLista li {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13pt;
    margin-left: 86%;
    background-color: white;
    padding: 20px;
}

#miLista a {
    text-decoration: none;
    color: #1A1B27;
    padding: 3px 0;
}

#miLista a:hover {
    color: #d92579;
}

#mostrarLista:hover {
    opacity: 0.8;
}

footer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B27;
    height: 20vh;
    color: #f2f2f2;
}

.githb , .web {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
}